@model Allergies

<form method="post" id="CreateAllergyForm" autocomplete="off">
	<input type="hidden" name="__RequestVerificationToken" value="@ViewData["RequestVerificationToken"]" />
	<div class="modal-body row">
		<input type="hidden" asp-for="PatientId" id="PatientId" />
		<input type="hidden" asp-for="Id" id="Id" />
		<div class="form-group col-md-6 col-sm-12">
			<label asp-for="Name" class="control-label">Nombre</label>
			<input asp-for="Name" id="Name" class="form-control"/>
			<span asp-for="Name" id="nameValidation" class="text-danger"></span>
		</div>
		<div class="form-group col-12">
			<label asp-for="Occurrency" class="control-label">Frecuencia</label>
			<select id="Occurrency" title="Frecuencia" class="form-control form-select" asp-items="@ViewBag.Occurrency"></select>
		</div>
		<div class="form-group col-6">
			<label asp-for="Begin">Inicio</label>
			@{
				if(Model.Begin != DateOnly.MinValue)
				{
					<input asp-for="Begin" id="Begin" type="text" class="form-control"
							value="@Model.Begin" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
				}
				else
				{
					<input asp-for="Begin" id="Begin" type="text" class="form-control"
							value="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
				}
			}
			<span asp-for="Begin" id="beginValidation" class="text-danger"></span>
		</div>
		<div class="form-group col-6">
			<label asp-for="End">Fin</label>
			@{
				if(Model.End != DateOnly.MinValue)
				{
					<input asp-for="End" id="End" type="text" class="form-control"
						   value="@Model.End" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
				}
				else
				{
					<input asp-for="End" id="End" type="text" class="form-control"
						   value="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
				}
			}
			<span asp-for="End" id="endValidation" class="text-danger"></span>
		</div>
		<div class="form-group col-12">
			<label asp-for="Description">Descripcion</label>
			<input asp-for="Description" id="Description" type="text" class="form-control" />
			<span asp-for="Description" id="descriptionValidation" class="text-danger"></span>
		</div>
		<div class="form-group col-12">
			<label asp-for="Severity">Severidad</label>
			<select id="Severity" title="Severidad" class="form-control form-select" asp-items="@ViewBag.Severity"></select>
		</div>
		<div class="form-group col-12">
			<label asp-for="Type">Tipo</label>
			<select id="Type" title="Tipo" class="form-control form-select" asp-items="@ViewBag.Type"></select>
		</div>
		<div class="form-group col-12">
			<label asp-for="Comments">Comentarios</label>
			<input asp-for="Comments" id="Comments" type="text" class="form-control" />
			<span asp-for="Comments" id="commentsValidation" class="text-danger"></span>
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
		@{
			if(Model.Id == new Guid()) {
				<button type="button" id="btnCreateAllergy" class="btn btn-primary">Crear</button>
			}else {
				<button type="button" id="btnEditAllergy" class="btn btn-primary">Editar</button>
			}
		}
	</div>
</form>