@model Visit
@{
	ViewData["Title"] = "Visita del " + Model.VisitDate.ToString("dd/MM/yyyy");
}
<div class="modal-body container-fluid">
	<div class="row">
		<div class="col-12">
			<h3>Visita del @Model.VisitDate.ToString("dd/MM/yyyy")</h3>
		</div>
		<hr />
		<div class="col-5">
			<h5>Médico:</h5>
		</div>
		<div class="col-7">
			<p>@Model.Medic.Name</p>
		</div>
		<hr />
		<div class="col-12">
			<h5>Motivo:</h5>
		</div>
		<div class="col-12">
			<p>@Model.Reason</p>
		</div>
		<hr />
		<div class="col-12">
			<h5>Tratamiento:</h5>
			<p>@Model.Treatment</p>
		</div>
		<hr />
		<div class="col-12">
			<h5>Evolucion:</h5>
			<p>@Model.EvolutionNotes</p>
		</div>
		<hr />
		<div class="col-12">
			<h5>Laboratorio:</h5>
			<p>@Model.LabResults</p>
		</div>
		<hr />
		<div class="col-12">
			<h5>Otros estudios:</h5>
			<p>@Model.OtherStudies</p>
		</div>
		<hr />
		<div class="col-12">
			<h5>Observaciones:</h5>
			<p>@Model.Observations</p>
		</div>
		<hr />
		<div class="col-6">
			<h5>Diagnóstico:</h5>
			<p>@Model.Diagnosis</p>
		</div>
		<div class="col-6">
			<h5>Descripcion del diagnostico:</h5>
			<p>@Model.DiagDescription</p>
		</div>
		
		
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
</div>