@using Turnero.Models;
@model List<TurnDTO>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<table id="turns" class="col-md-12 display responsive nowrap">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().SocialWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MedicName)
            </th>
            <th>
                Medic Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Time)
            </th>
            <th>Acción</th>
            
        </tr>
    </thead>
    </table>