@model Turnero.Models.Turn

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Turn</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medic.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTurn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTurn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
