@model PaginatedList<Turnero.Models.Turn>
@using Microsoft.AspNetCore.Identity
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Turnos Inicio";
    if (ViewBag.Date == null)
        ViewBag.Date = String.Format("{0:yyyy-MM-dd}", DateTime.Now);
    else
        String.Format("{0:yyyy-MM-dd}", DateTime.Now);
}
<div class="card">
<h1>Turnos</h1>
</div>
<div class="back row">
    <label class="control-label"></label>
    <input id="DateTurn" name="dateTurn" type="date" class="form-control col-lg-2 col-sm-12" style="display:relative" value="@ViewBag.Date" data-date-format="dd/MM/yyyy" />
    <select id="Medics" class="form-control col-lg-2 col-sm-12" asp-items="@(new SelectList(ViewBag.Medics, "Id", "Name", ViewBag.MedicId))"></select>
    <button class="btn btn-primary col-md-2 col-sm-12" onclick="SearchTurns('@Url.Action("GetTurns","Turns")')">Buscar</button>
    <button class="btn btn-secondary col-md-2 col-sm-12" onclick="SearchAllTurns('@Url.Action("GetTurns","Turns")')">Limpiar</button>
    
    @{
        //&& (User.IsInRole("Ingreso"))
        if (SignInManager.IsSignedIn(User))
        {
            <a class="btn btn-info col-md-2 col-sm-12" asp-action="Create">Nuevo Turno</a>
        }
    }
</div>
<div class="back row" id="TurnsPartial">

            <partial name="_TurnsPartial" model="@Model" />
    
</div>
    @section scripts{
        <script src="~/js/turn.js"></script>
    }
