@model IEnumerable<Medic>

@{
    ViewData["Title"] = "Inicio";
}


<div class="wrapper">
    <div class="back">
    <h1>Medicos</h1>
    <p>
        <a asp-action="Create">Crear nuevo</a>
    </p>
    @if (Model.Any())
    {
        @foreach (var item in Model)
        {
            <div class="card mb-3">
                <div class="card-header">
                    Medic Id: @item.Id

                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                </div>
                <div class="card-footer">
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                        <a asp-action="Edit" asp-controller="Medics" asp-route-id="@item.Id"
                            class="btn btn-outline-primary">Edit</a>
                        <span id="confirmDeleteSpan_@item.Id" style="display:none">
                            <span>Are you sure you want to delete?</span>
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <a href="#" class="btn btn-primary"
                                onclick="confirmDelete('@item.Id', false)">No</a>
                        </span>
                        <span id="deleteSpan_@item.Id">
                            <a href="#" class="btn btn-danger"
                                onclick="confirmDelete('@item.Id', true)">Delete</a>
                        </span>
                    </form>
                </div>
            </div>
        }
    }
    else
    {
        <div class="card">
            <div class="card-header">
                no users created yet
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Use the button below to create a user
                </h5>
                <a class="btn btn-primary" style="width: auto"
                    asp-area="Identity" asp-page="/Account/Register">
                    Add new user
                </a>
            </div>
        </div>
    }
    </div>
</div>
@section Scripts {
    <script src="~/js/Medics.js"></script>
}
